*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: color;
}
.dj,.dj-h1{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dj-h1{
    line-height: 100vh;
    color: rgb(212, 14, 14);
}
